POSTGRES_DB=b2chat_orders
POSTGRES_USER=b2chat
POSTGRES_PASSWORD=b2chat_dev_password
POSTGRES_PORT=5432

REDIS_PORT=6379

SERVER_PORT=8080

SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/b2chat_orders
SPRING_R2DBC_USERNAME=b2chat
SPRING_R2DBC_PASSWORD=b2chat_dev_password
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379

ADAPTERS_R2DBC_HOST=postgres
ADAPTERS_R2DBC_PORT=5432
ADAPTERS_R2DBC_DATABASE=b2chat_orders
ADAPTERS_R2DBC_SCHEMA=public
ADAPTERS_R2DBC_USERNAME=b2chat
ADAPTERS_R2DBC_PASSWORD=b2chat_dev_password

JWT_SECRET=dev-local-jwt-secret-change-me-32
JWT_ISSUER_URI=https://idp.example.com/issuer
JWT_CLIENT_ID=myclientid
JWT_JSON_EXP_ROLES=/roles
JWT_EXPIRATION_MINUTES=60
